# Python environment exclusions
.venv/
venv/
env/
ENV/

# Sensitive database settings or local SQLite DBs
*.db
*.sqlite
config.json
secrets.ini

# IDE configurations
.vscode/
.idea/

# Ignore Python bytecode compilation caches
__pycache__/
*.pyc
src/__pycache__/
